.intro {
    margin-bottom: $space-32;

    p {
        font-size: 1.1875rem;
    }
}

.home-posts {
    &__heading {
        font-size: 1rem;
        color: var(--colour-text-muted);
        border-bottom: 1px solid var(--colour-border);
        padding-bottom: $space-8;
    }
}
