.intro {
    margin-bottom: ($space * 2.5);

    p {
        font-size: 1.1875rem;
    }
}

.home-posts {
    &__heading {
        font-size: 1rem;
        color: $colour-muted;
        border-bottom: 1px solid $colour-rule;
        padding-bottom: ($space * 0.5);
    }
}
